<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full">
    <div class="p-4 text-xl">
      <div class="px-2 mb-3 border rounded-md border-slate-400">
        <ion-input placeholder="Principle" type="number"></ion-input>
      </div>
      <div class="flex gap-4">
        <div class="px-2 mb-3 border rounded-md border-slate-400">
          <ion-input placeholder="Rate" type="number"></ion-input>
        </div>
        <div class="px-2 mb-3 border rounded-md border-slate-400">
          <ion-input placeholder="Year" type="number"></ion-input>
        </div>
      </div>
      <div class="flex justify-center">
        <ion-button class="w-full">
          <div class="m-1 text-lg">
            Test
          </div>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>