<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Finance Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-4 bg-slate-200">
    <div class="py-3 px-4 rounded-md bg-white mb-2" *ngFor="let data of list;">
      <div class="pb-2 font-bold">Bank</div>
      <div class="flex flex-wrap justify-between">
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 my-1 text-xs">Loan Basic</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Loan Advanced</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">FD TDR</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">FD STDR</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Recurring Deposit</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Interest Rates</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Interest Rates</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Interest Rates</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Interest Rates</div>
        </div>
        <div class="flex flex-col align-middle">
          <div class="h-14 w-14 rounded-md bg-slate-200"></div>
          <div class="text-center w-14 mt-1 text-xs">Interest Rates</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>